body {
	display: flex;
	font-family: Helvetica;
	font-size: 22px;
	color: #737474;
	background-color: black;
	opacity: 0.9;
}

nav {
 display: flex;
 width: auto;
 height: 69px;
 margin-left: 10px;
 margin-right: 10px;
 position: fixed;
 top: 0;
 width: 100%;
 border-bottom: 1px solid #737474;
 justify-content: space-between;
}

.cozy-logo {
	margin-top: 9.5px;
	max-height: 50px;
	width: 50%;
	justify-content: flex-start;
	background-image: url("../images/img-tea-cozy-logo.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
}

.menu {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: flex-end;
}

.menu li {
	text-decoration: underline;
	justify-content: center;
	padding: 0 1.25vh;
}

main {
	position: absolute;
	top: 69px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.image-container {
	background-image: url("../images/img-mission-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	min-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-box {
	background-color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 70px;
}

.image-box h2, h4 {
	margin: auto;
}

.image-box h2 {
	font-size: 1.615rem;
}

.image-box h4 {
	font-size: 1.124rem;
}
